html {
  height: 100%; /* make sure it is at least as tall as the viewport */
  position: relative;
}

body {
  height: 100%; /* force the BODY element to match the height of the HTML element */
}

.form-container {
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.header {
  padding: 10px;
  border: 1px solid black;
  background-color: grey;
}

.datum {
  padding: 10px;
  border: 1px solid black;
}
